<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
	<title>读书郎招聘</title>
	<link rel="shortcut icon" href="./favicon.ico" />
	<link rel="bookmark" href="./favicon.ico" type="image/x-icon"　/>
	<link rel="stylesheet" href="./css/index.css">	
	<link rel="stylesheet" type="text/css" href="./css/text-plug.css">
	<!--引入pageSlider所需样式表-->
	<link rel="stylesheet" href="./css/pageSlider.css">
	<script type="text/javascript" src="./js/template-web.js"></script>
</head>
<body id="content-area">
</body>
<script id="tem" type="text/html">
	<audio src="./img/HandClap.mp3" loop="loop" autoplay="autoplay" id="vi">
		Your browser does not support the audio element.
	</audio>
	<div id="play"></div>
	<div class="section sec1">
		<div class="content "><!-- rotate-fadein-from-top -->
			<div class="inner">
				<div class="logo"></div>
				<div class="funny"></div><!-- nangxi brake -->
				<div class="join"><!-- nangxi tear -->
					<div class="join-us">
						<p>兄弟骨骼清奇</p>
						<p>一看就感觉不像一般人</p>
					</div>
				</div>
				<p class="foot_1">做本公司一“吹箫童子”，岂不美哉？</p>
				<p class="foot_2">Join us!!</p>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section sec2">
		<div class="content">
			<div class="inner pad">
				<p class="ask ask_1"><span>你还在“偷电瓶车”吗？</span></p>
				<p class="ask ask_2"><span>除夕夜你还在“看守所”过夜吗？</span></p>
				<p class="ask ask_3"><span>“精神领袖”窃格瓦拉曾经说过</span></p>
				<p class="ask ask_4"><span>读书郎教育科技有限公司，里面个个都是人才，说话又好听</span></p>
				<p class="ask_5">我超喜欢在里面的</p>
				<div class="lefthead"></div>
				<div class="righthead"></div>
				<div class="leader"></div>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section sec3">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>COMPANY PROFILE</p>
						<p>公司简介</p>
					</div>
				</div>
				<div class="companypic"></div>
				<div class="description">读书郎教育科技有限公司始建于1999年，是一家以科技创新、科技开发为导向的新兴电子产品制造企业。公司致力于教育科技产品的研发、制造、销售事业，主要产品有学生平板、儿童平板、智能手表、电子书包、智能点读机等产品系列。读书郎产品在教育电子领域处于领先地位，是国内最具实力和品牌影响力的教育科技企业之一。</div>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section sec4">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>OFFICE ENVIRONMENT</p>
						<p>办公环境</p>
					</div>
				</div>
				<div class="office">
					<div class="office_1"></div>
					<div class="office_2"></div>
					<div class="office_3"></div>
					<div class="office_4"></div>
					<div class="office_5"></div>
					<div class="office_6"></div>
					<div class="office_7"></div>
				</div>
				<img src="./img/happy.gif" class="happy">
				<div class="notell">我不会告诉你</div>
				<div class="result">
					<div class="result1">读书郎</div>
					<div class="result2">漂亮的妹纸</div>
					<div class="result3">帅气的汉纸</div>
					<div class="result4">一抓一大把的</div>
				</div>	
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>			
			</div>
		</div>
	</div>
	<div class="section sec5">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>COMPANY BENEFITS</p>
						<p>公司福利</p>
					</div>
				</div>
				<div class="ball">
					<div class="ball1"></div>
					<div class="ball2"></div>
					<div class="ball3"></div>
					<div class="ball4"></div>
					<div class="ball5"></div>
					<div class="ball6"></div>
				</div>
				<div>
					<div class="hand"></div>
					<div class="boss"></div>
				</div>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section sec6">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>COMPANY CULTURE</p>
						<p>公司文化</p>
					</div>
				</div>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section sec7">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="question1">那么!!</div>
				<div class="question2">问题来了</div>
				<div class="question3">连不可能打工的“精神领袖”窃格瓦拉都超喜欢的读书郎</div>
				<div class="question4">到底有没有招人呢？</div>
				<img src="./img/walk.gif" class="walk">
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>

	{{each detailIfo value key}}
	<div class="section sec{{key+8}}">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>SINCERITY RECUITMENT</p>
						<p>重金诚聘</p>
					</div>
				</div>
				<div class="content-wrap">
					<p class="title">{{detailIfo[key]["position"]}}</p>
					<h5>类型</h5>
					<p class="type">{{detailIfo[key]["info"]["type"]}}</p>
					{{if detailIfo[key]["info"]["need"].length!=0}}
						<h5>技能需求</h5>
						<ul class="need">
							{{each detailIfo[key]["info"]["need"]}}
							<li>{{$value}}</li>
							{{/each}}
						</ul>
					{{/if}}
					{{if detailIfo[key]["info"]["work"].length!=0}}
						<h5>工作内容</h5>
						<ul class="work">
							{{each detailIfo[key]["info"]["work"]}}
							<li>{{$value}}</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
				<div class="maka-Arrow">
					<img src="./img/up.png"/>
				</div>
			</div>
		</div>
	</div>
	{{/each}}

	<div class="section" id="sec">
		<div class="content">
			<div class="inner">
				<p class="left-text">READBOY</p>
				<p class="right-text">READBOY</p>
				<div class="company">
					<div>
						<p>WELCOME TO JOIN US</p>
						<p>立即加入我们</p>
					</div>
				</div>
				<form class="upload">
					<label for="name">姓名<span style="color:#fa7474">*</span></label><input type="text" id="name" />
					<label for="tel">联系电话<span style="color:#fa7474">*</span></label><input type="text" id="tel"/>
					<label for="position">应聘职位<span style="color:#fa7474">*</span></label><input type="text" id="position"/>
					<button type="button" id="tellus">告诉我们</button>
				</form>
				<footer>
					<p>详细招聘信息：http://hr.readboy.com/</p>
					<p>地址：五桂山镇长命水工业园长逸路38号</p>
				</footer>
			</div>
		</div>
	</div>
</script>
<!-- <script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script> -->
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--引入zepto.js-->
<script src="http://cdn.bootcss.com/zepto/1.1.4/zepto.js"></script>
<!--引入pageSlider.js文件-->
<script src="./js/pageSlider.js"></script>
<script type="text/javascript">
	var scale = 1 / window.devicePixelRatio;
    document.querySelector('meta[name="viewport"]').setAttribute('content','width=device-width,initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
	var pageSlider = PageSlider.case();	
	//设置页面的高度
	var HEIGHT=$("body").height();
	var len=$(".section").length;
	for(var i=0;i<len;i++){
		$('.section').eq(i).height(HEIGHT);	
	}
</script>
</html>