/*全局样式*/
*{
	margin:0px;
	padding:0px;
}
.section{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.content-wrapper{
	margin:0.3rem;
	width: auto;
	line-height: 0.46rem;
	font-size: 0.3rem;
	transform: translateX(3rem);
	opacity: 0;
}
.content-wrap-move{
	animation: content-wrap-m 1s linear;-webkit-animation: content-wrap-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:2.3s;-webkit-animation-delay:2.3s;
}
@keyframes content-wrap-m{0%{opacity: 0; transform: translateX(3rem);}100%{opacity: 1;transform: translateX(0rem);}}
@-webkit-keyframes content-wrap-m{0%{opacity: 0;transform: translateX(3rem);}100%{opacity: 1;transform: translateX(0rem);}}
.content-wrapper p{
	font-size: 0.3rem;
}
.content-wrapper p:first-child{
	font-size: 0.34rem;
	font-weight: 600;
	transform: translateX(-6rem);
	opacity: 0;
}
.content-wrapperp-move{
	animation: content-wrapperp-m 1s linear;-webkit-animation: content-wrapperp-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:2.3s;-webkit-animation-delay:2.3s;
}
@keyframes content-wrapperp-m{0%{opacity: 0; transform: translateX(-6rem);}100%{opacity: 1;transform: translateX(0rem);}}
@-webkit-keyframes content-wrap-m{0%{opacity: 0;transform: translateX(-6rem);}100%{opacity: 1;transform: translateX(0rem);}}
/*播放按钮*/
#play{
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	width: 0.7rem;
	height: 0.7rem;
	background-image: url('../img/play.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 100;
	animation: playrotate 1s linear infinite;
	-webkit-animation:playrotate 1s linear infinite;
}
/*播放按钮动画*/
@keyframes playrotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes playrotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
/*向上箭头样式*/
.maka-Arrow {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  margin-left: -0.3rem;
  width: 0.6rem;
  text-align: center;
  z-index: 1999;
  animation-name: arrowing;
  -webkit-animation-name: arrowing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.maka-Arrow img {
  width: 0.6rem;
}
@keyframes arrowing {
  0% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
}
/*所有粉红色界面的样式*/
.pink .title{
	width: 100%;
	overflow: hidden;
}
.pink .title img{
	position: absolute;
	left: -2.5rem;
	top: -1.3rem;
	width: 12.5rem;
}
.pink .title p{
	margin:auto;
	left: 0rem;
	right: 0rem;
	top: 0.55rem;
	position: absolute;
	width: 6.1rem;
	height: 0.75rem;
	line-height: 0.75rem;
	font-size: 0.36rem;
	font-weight: 600;
	z-index: 1;
	opacity: 0;
	transform: scale(1.3);
}
/*所有p标签动画*/
.p-move{
	animation: p-m 0.7s linear;
	-webkit-animation: p-m 0.7s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes p-m{
	from{
		transform: scale(1.3);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes p-m{
	from{
		transform: scale(1.3);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 1;
	}
}
.pink .content{
	margin:auto;
	position: absolute !important;
	left: 0rem;
	right: 0rem;
	top: 1.8rem;
	bottom: 0.5rem;
	width: 6.5rem;
	background-color: white;
	transform: scale(0);
}
.content-move{
	animation: content-m 1s linear;
	-webkit-animation: content-m 1s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
@keyframes content-m{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}
@-webkit-keyframes content-m{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

.black-opacity{
	margin: auto;
	display: block;
	position: absolute;
	left: -71.3rem;
	right: 0rem;
	top: 0rem;
	bottom: 0rem;
	width: 150rem;
	height: 150rem;
	z-index: 4;
	transform: scale(0.1);
}
.black-opacity-move{
	animation: black-opacity-m 1.2s linear;
	-webkit-animation: black-opacity-m 1.2s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes black-opacity-m{
	from{
		transform: scale(0.1);
	}
	to{
		transform: scale(2.1);
		display: none;
	}
}
@-webkit-keyframes black-opacity-m{
	from{
		transform: scale(0.1);
	}
	to{
		transform: scale(2.1);
		display: none;
	}
}
.companylogo{
	position: absolute;
	bottom: 1rem;
	width: 100%;
	height: 1rem;
	text-align: center;
}
.companylogo img{
	height: 100%;
}
.companytext{
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	font-size: 0.26rem;
	text-align: center;
}





/*第一页样式*/
.sec1{
	background-color: #e1dfdd !important;
}
.sec1 .bg{
	display: block;
	position: absolute;
	left: -4.12rem;
	top: 1rem;
	width: 210%;
	height:69%;
	z-index: 1;
}
.sec1 .bg-rotate{
	position: absolute;
	top: 4.6rem;
	width: 100%;
	z-index: 2;
}
.sec1 .littlehuman{
	position: absolute;
	bottom: 0rem;
	width: 100%;
	z-index: 2;
}
.sec1 .title{
	position: absolute;
	top: 2.2rem;
	width: 100%;
	font-size: 0.8rem;
	color:#04b0ef;
	text-align: center;
	z-index: 3;
	font-weight: 600;
	-webkit-text-size-adjust: none;
}

.sec1 .fu-title{
	position: absolute;
	top: 3.4rem;
	width: 100%;
	font-size: 0.4rem;
	color:#04b0ef;
	text-align: center;
	z-index: 3;
	font-weight: 600;
	-webkit-text-size-adjust: none;
}
.sec1 .joinus{
	position: absolute;
	top: 4.5rem;
	width: 100%;
	text-align: center;
	z-index: 3;
	color: rgb(221, 195, 114);
	font-size: 0.5rem;
}
.sec1 .company{
	position: absolute;
	bottom: 3rem;
	width: 100%;
	text-align: center;
	z-index: 3;
	font-size: 0.4rem;
	font-family: "Microsoft YaHei";
}
.sec1 .logo{
	display: inline-block;
	width: 0.55rem;
	height: 0.4rem;
	background-image: url("../img/logo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
}
/*第二页样式*/
.sec2{
	background-color: #91bab3 !important;
}
.sec2 .bg{
	display: block;
	margin: auto;
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 0rem;
	width: 90%;
	height:84%;
	z-index: 1;
}
.sec2 .q1{
	position: absolute;	
	left: 4.2rem;
	top: 3.1rem;
	color: white;
	font-size: 0.3rem;
	z-index: 2;
	opacity: 0;
}
.q1-move{
	animation: q1-m 0.9s linear;
	-webkit-animation: q1-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
}
@keyframes q1-m{
	0%{left: 4.2rem;opacity: 0;}
	100%{left: 0.2rem;opacity: 1;}
}
@-webkit-keyframes q1-m{
	0%{left: 4.2rem;opacity: 0;}
	100%{left: 0.2rem;opacity: 1;}
}
.sec2 .q2{
	position: absolute;
	top: 2.4rem;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 0.3rem;
	z-index: 2;
	transform: scale(0.5);
}
.q2-move{
	animation: q2-m 0.9s linear;
	-webkit-animation: q2-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes q2-m{
	0%{transform: scale(0.5);}
	70%{transform: scale(1.2);}
	85%{transform: scale(0.8);}
	100%{transform: scale(1);}
}
@-webkit-keyframes q2-m{
	0%{transform: scale(0.5);}
	70%{transform: scale(1.2);}
	85%{transform: scale(0.8);}
	100%{transform: scale(1);}
}
.sec2 .q3{
	position: absolute;
	right: 4.2rem;
	top: 3.1rem;
	color: white;
	font-size: 0.3rem;
	z-index: 2;
	opacity: 0;
}
.q3-move{
	animation: q3-m 0.9s linear;
	-webkit-animation: q3-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
}
@keyframes q3-m{
	0%{right: 4.2rem;opacity: 0;}
	100%{right: 0.2rem;opacity: 1;}
}
@-webkit-keyframes q3-m{
	0%{right: 4.2rem;opacity: 0;}
	100%{right: 0.2rem;opacity: 1;}
}
.sec2 .goodbye{
	position: absolute;
	bottom: 4rem;
	width: 100%;
	text-align: center;
	font-size: 0.4rem;
	z-index: 2;
	transform: scale(0.5);
	opacity: 0;
}
.goodbye-move{
	animation: goodbye-m 0.9s linear;
	-webkit-animation: goodbye-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:1.8s;
	-webkit-animation-delay:1.8s;
}
@keyframes goodbye-m{
	0%{transform: scale(0.5);opacity: 0;}
	70%{transform: scale(1.2);}
	85%{transform: scale(0.8);}
	100%{transform: scale(1);opacity: 1;}
}
@-webkit-keyframes goodbye-m{
	0%{transform: scale(0.5);opacity: 0;}
	70%{transform: scale(1.2);}
	85%{transform: scale(0.8);}
	100%{transform: scale(1);opacity: 1;}
}

.sec2 .comeon{
	position: absolute;
	bottom: 2rem;
	width: 100%;
	text-align: center;
	font-size: 0.6rem;
	font-weight: 700;
	z-index: 2;
	color: white;
	transform: scale(1.2);
	opacity: 0;
}
.comeon-move{
	animation: comeon-m 0.9s linear;
	-webkit-animation: comeon-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:2.7s;
	-webkit-animation-delay:2.7s;
}
@keyframes comeon-m{
	0%{transform: scale(1.2);opacity: 0;}
	70%{transform: scale(0.8);}
	85%{transform: scale(1.1);}
	100%{transform: scale(1);opacity: 1;}
}
@-webkit-keyframes comeon-m{
	0%{transform: scale(1.2);opacity: 0;}
	70%{transform: scale(0.8);}
	85%{transform: scale(1.1);}
	100%{transform: scale(1);opacity: 1;}
}

/*第三页样式*/
.sec3{
	background-color: #ddc372 !important;
}
.sec3 .bg{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.sec3 .book{
	margin: 0 auto;
	position: relative;
	margin-top: 4.4rem;
	width: 4rem;
	height: 3rem;
}
.sec3 .book .book1,.sec3 .book .book3,.sec3 .book .book5,.sec3 .book .book7{
	position: absolute;
	top: 0.8rem;
	width:100%;
	text-align: center;
	font-size: 0.5rem;
	color: white;
	z-index: 2;
	opacity: 0;
	font-family: "黑体";
}
.sec3 .book .book2,.sec3 .book .book4,.sec3 .book .book6,.sec3 .book .book8{
	position: absolute;
	top: 1.8rem;
	width:100%;
	text-align: center;
	font-size: 0.5rem;
	color: white;
	z-index: 2;
	opacity: 0;
	font-family: "黑体";
}
.book1-move{animation: book1-m 1s linear;-webkit-animation: book1-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes book1-m{0%{opacity: 0; top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book1-m{0%{opacity: 0;top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
.book2-move{animation: book2-m 1s linear;-webkit-animation: book2-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes book2-m{0%{opacity: 0; top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book2-m{0%{opacity: 0;top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
.book3-move{animation: book3-m 1s linear;-webkit-animation: book3-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:1s;-webkit-animation-delay:1s;}
@keyframes book3-m{0%{opacity: 0; top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book3-m{0%{opacity: 0;top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
.book4-move{animation: book4-m 1s linear;-webkit-animation: book4-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:1s;-webkit-animation-delay:1s;}
@keyframes book4-m{0%{opacity: 0; top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book4-m{0%{opacity: 0;top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
.book5-move{animation: book5-m 1s linear;-webkit-animation: book5-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:2s;-webkit-animation-delay:2s;}
@keyframes book5-m{0%{opacity: 0; top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book5-m{0%{opacity: 0;top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
.book6-move{animation: book6-m 1s linear;-webkit-animation: book6-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:2s;-webkit-animation-delay:2s;}
@keyframes book6-m{0%{opacity: 0; top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book6-m{0%{opacity: 0;top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
.book7-move{animation: book7-m 1s linear;-webkit-animation: book7-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:3s;-webkit-animation-delay:3s;}
@keyframes book7-m{0%{opacity: 0; top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book7-m{0%{opacity: 0;top: 0rem;}50%{opacity: 1;top: 0.8rem;}90%{opacity: 1;top: 0.8rem;}100%{opacity: 0;}}
.book8-move{animation: book8-m 1s linear;-webkit-animation: book8-m 1s linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;animation-delay:3s;-webkit-animation-delay:3s;}
@keyframes book8-m{0%{opacity: 0; top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
@-webkit-keyframes book8-m{0%{opacity: 0;top: 2.7rem;}50%{opacity: 1;top: 1.8rem;}90%{opacity: 1;top: 1.8rem;}100%{opacity: 0;}}
.sec3 .book .books1{
	position: absolute;
	left: 0rem;
	top: 0.7rem;
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
	color: white;
	z-index: 4;
	opacity: 0;
}
.sec3 .book .books2{
	position: absolute;
	right: 0rem;
	top: 1.2rem;
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
	color: white;
	z-index: 4;
	opacity: 0;
}
.sec3 .book .books3{
	position: absolute;
	left: 0rem;
	top: 1.7rem;
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
	color: white;
	z-index: 4;
	opacity: 0;
}
.sec3 .book .books4{
	position: absolute;
	right: 0rem;
	top: 2.2rem;
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
	color: white;
	z-index: 4;	
	opacity: 0;
}
.books1-move{animation: books1-m 0.7s linear;-webkit-animation: books1-m 0.7s linear;animation-delay:4s;-webkit-animation-delay:4s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes books1-m{0%{opacity: 0; left: -1.5rem;}100%{opacity: 1;left: 0rem;}}
@-webkit-keyframes books1-m{0%{opacity: 0;left: -1.5rem;}100%{opacity: 1;left: 0rem;}}
.books2-move{animation: books2-m 0.7s linear;-webkit-animation: books2-m 0.7s linear;animation-delay:4.5s;-webkit-animation-delay:4.5s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes books2-m{0%{opacity: 0; right: -1.5rem;}100%{opacity: 1;right: 0rem;}}
@-webkit-keyframes books2-m{0%{opacity: 0;right: -1.5rem;}100%{opacity: 1;right: 0rem;}}
.books3-move{animation: books3-m 0.7s linear;-webkit-animation: books3-m 0.7s linear;animation-delay:5s;-webkit-animation-delay:5s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes books3-m{0%{opacity: 0; left: -1.5rem;}100%{opacity: 1;left: 0rem;}}
@-webkit-keyframes books3-m{0%{opacity: 0;left: -1.5rem;}100%{opacity: 1;left: 0rem;}}
.books4-move{animation: books4-m 0.7s linear;-webkit-animation: books4-m 0.7s linear;animation-delay:5.5s;-webkit-animation-delay:5.5s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes books4-m{0%{opacity: 0; right: -1.5rem;}100%{opacity: 1;right: 0rem;}}
@-webkit-keyframes books4-m{0%{opacity: 0;right: -1.5rem;}100%{opacity: 1;right: 0rem;}}


/*第四页样式*/
.sec4{
	background-color: #df757a !important;
}
.sec4 .master{
	position: absolute !important;
	bottom: 0rem;
	width: 100%;
	height: 6rem;
}
.sec4 .content-wrapper{
	transform: scale(0);
	opacity: 0;
}
.content-wrapper-move{animation: content-wrapper-m 1s linear;-webkit-animation: content-wrapper-m 1s linear;animation-delay:1.5s;-webkit-animation-delay:1.5s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes content-wrapper-m{0%{opacity: 0; transform: scale(0);}75%{opacity: 1;transform: scale(1.1);}85%{opacity: 1;transform: scale(0.9);}100%{opacity: 1;transform: scale(1);}}
@-webkit-keyframes content-wrapper-m{0%{opacity: 0;transform: scale(0);}75%{opacity: 1;transform: scale(1.1);}85%{opacity: 1;transform: scale(0.9);}100%{opacity: 1;transform: scale(1);}}
#masterslider{
	box-sizing: content-box;
	opacity: 0 !important;
	transform: scale(1.2);
}
.masterslider-move{animation: masterslider-m 2s linear;-webkit-animation: masterslider-m 2s linear;animation-delay:2.5s;-webkit-animation-delay:2.5s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
@keyframes masterslider-m{0%{opacity: 0; transform: scale(1.3);}75%{opacity: 0.7;transform: scale(0.9);}85%{opacity: 1;transform: scale(1.1);}100%{opacity: 1;transform: scale(1);}}
@-webkit-keyframes masterslider-m{0%{opacity: 0;transform: scale(1.3);}75%{opacity: 0.7;transform: scale(0.9);}85%{opacity: 1;transform: scale(1.1);}100%{opacity: 1;transform: scale(1);}}
.ms-view{
	width: 100% !important;
	height: 4rem !important;
	background:inherit !important;
}
.ms-slide-container,.ms-slide{
	width: 100% !important;
	height: 100% !important;
}
.ms-slide-bgcont img{
	margin:0rem !important;
	width: 100% !important;
	height: 100% !important;
}
/*第五页样式*/
.sec5{
	background-color: #90b9b2 !important;
}

.sec5 .bg{
	display: block;
	position: absolute;
	left: -4.12rem;
	top: 1rem;
	width: 210%;
	height:69%;
	z-index: 1;
}
.sec5 .joinus{
	position: absolute;
	bottom: 3rem;
	width:100%;
	text-align: center;
	font-size:0.36rem;
	color: white;
	z-index: 2;
}
/*第六页样式*/
.sec6{
	background-color: #dcdcdc !important;
}
.sec6 .bg{
	display: block;
	position: absolute;
	left: -20%;
	top: 0rem;
	width: 140%;
	z-index: 1;
}
.sec6 .all-position{
	margin:auto;
	position: absolute !important;
	left: 0rem;
	right: 0rem;
	top: 6.2rem;
	bottom: 0.5rem;
	width: 6.5rem;
	font-size: 0px;
}
.sec6 .all-position .alltip{
	display: flex;
	margin-bottom: 0.4rem;
	margin-right: 1%;
	float: left;
	width: 49%;
	height: 0.65rem;
	border:0.04rem solid black;
	font-size: 0.27rem;
}
.sec6 .all-position .alltip .icon{
	flex: 0 0 0.65rem;
	width: 0.65rem;
	height: 100%;
	border-right:0.04rem solid black;
	background-color:black; 
}
.sec6 .all-position .alltip .icon img{
	width: 100%;
	height: 100%;
}
.sec6 .all-position .alltip .tipcontent{
	flex: 1;
	height: 100%;
	line-height: 0.65rem;
}







#callus .title{
	margin: auto;
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 1rem;
	font-size: 0.38rem;
	text-align: center;
}
#callus ul{
	margin: auto;
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 2rem;
	width: 5.5rem;
	font-size: 0.34rem;
}
#callus ul li{
	height: 0.8rem;
	list-style: none;
}
#callus .serchmore{
	margin: auto;
	position: absolute;
	left: 0rem;
	right: 0rem;
	bottom: 0.5rem;
	width:6rem;
	height: 4.5rem;
	background-image: url('../img/computer.src');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
#callus .serchmore img{
	display: block;
	margin: 0 auto;
	margin-top: 0.9rem;
	width: 2rem;
}
#callus .serchmore p{
	margin:0 auto;
	width: 3.5rem;
	font-size: 0.3rem;
	text-align: center;
	border-bottom:2px solid black; 
}

/*淡入动画*/
.fadeIn{
	animation: fadeIn-m 0.9s linear;
	-webkit-animation: fadeIn-m 0.9s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}

@keyframes fadeIn-m{from{opacity: 0; }to{opacity: 1;}}
@-webkit-keyframes fadeIn-m{from{opacity: 0;}to{opacity: 1;}}
.upload{
	margin:auto;
	position:absolute; 
	left: 0px;
	right: 0px;
	margin-top: 0.7rem;
	width: 5rem;
	font-size:0px; 
	z-index: 5;
}
.upload label{
	font-size: 0.32rem;
	color: #4b4b4b;
}
.upload label span{
	color: #eb8383;
}
.upload input{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	display: block;
	font-size: 0.3rem;
	font-weight: 500;
	padding:5px 15px;
	box-sizing: border-box;
	width: 100%;
	height: 0.8rem;
	border:1.17063px solid #eb8383;
	border-radius: 10px;
}
.upload button{
	width: 100%;
	height: 0.8rem;
	border-radius: 10px;
	color: white;
	background-color: #eb8383;
	border:1.17063px solid #eb8383;
	font-size: 0.3rem;
}
.sectitles{
	margin-top: 0.6rem;
	color: #ffffff;
	border: 3px white solid;
	transform: scale(0);
	opacity: 0;
}
.sec-content{
	margin:auto;
	position: absolute;
	left:0rem;
	right: 0rem;
	top: 0.6rem;
	color: #ffffff;
	width: 2.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.38rem;
	text-align: center;
	opacity: 0;
	transform: scale(0);
}


.tip{
	opacity: 0;
	margin:auto;
	position: absolute;
	left: 0rem;
	right: 0rem;
	bottom: 1.6rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	height: 0.7rem;
	line-height: 0.7rem;
	width:4.5rem; 
	text-align:center;
	color: white;
	font-size: 0.3rem;
	background-color: #4b4b4b; 
	border-radius: 50px;
	z-index: 9999;
}
.show{
	animation: show 1.5s linear;
	-webkit-animation:show 1.5s linear;
}
@keyframes show{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@-webkit-keyframes show{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
